body{
    height: 1065px;
    width: 1000px;
    background-color: rgb(233, 234, 235);
}
h1{

}

p{
    
}
.blankboxtop{
    position: absolute;
    top: 10px;
    left: 75px;
    width: 328px;
    height: 23px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.aboutyour{
    position: absolute;
    top: 33px;
    left: 75px;
    width: 328px;
    height: 105px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.yourwebsite{
    position: absolute;
    top: 138px;
    left: 75px;
    width: 328px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.about{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 180px;
    left: 75px;
    width: 328px;
    height: 32px;
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(92, 94, 113)
}
.youraddress{
    position: absolute;
    top: 212px;
    left: 75px;
    width: 328px;
    height: 105px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.apps{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 327px;
    left: 75px;
    width: 328px;
    height: 32px;
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(92, 94, 113)
}
.welcome{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 359px;
    left: 75px;
    width: 328px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(31, 34, 44)
}
.fwb{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 449px;
    left: 75px;
    width: 328px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(31, 34, 44)
}
.livestream{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 539px;
    left: 75px;
    width: 328px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(31, 34, 44)
}
.photos{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 639px;
    left: 75px;
    width: 328px;
    height: 32px;
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(92, 94, 113)
}
.photosbox{
    position: absolute;
    top: 671px;
    left: 75px;
    width: 328px;
    height: 328px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.english{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    position: absolute;
    left: 80px;
    top: 1008px;
    color: rgb(173, 176, 184)
}
.facebook{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    position: absolute;
    left: 80px;
    top: 1024px;
    color: rgb(173, 176, 184)
}
.rectangle1{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 111px;
    height: 74px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.rectangle2{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 111px;
    height: 74px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.rectangle3{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 111px;
    height: 74px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.phsquares1{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 102px;
    height: 102px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.phsquares2{
    position: absolute;
    top: 114px;
    left: 5px;
    width: 103px;
    height: 103px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.phsquares3{
    position: absolute;
    top: 222px;
    left: 5px;
    width: 103px;
    height: 103px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.phsquares4{
    position: absolute;
    top: 5px;
    left: 114px;
    width: 103px;
    height: 103px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.phsquares5{
    position: absolute;
    top: 5px;
    left: 222px;
    width: 103px;
    height: 103px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.phsquares6{
    position: absolute;
    top: 114px;
    left: 114px;
    width: 103px;
    height: 103px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.phsquares7{
    position: absolute;
    top: 114px;
    left: 222px;
    width: 103px;
    height: 103px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}










.pagename1{
    position: absolute;
    left: 413px;
    top: 10px;
    width: 512px;
    height: 256px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.likebox1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    position: absolute;
    left: 413px;
    top: 266px;
    width: 512px;
    height: 32px;
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(130, 141, 180)
}
.pagename2{
    position: absolute;
    left: 413px;
    top: 308px;
    width: 512px;
    height: 131px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.likebox2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    position: absolute;
    left: 413px;
    top: 439px;
    width: 512px;
    height: 32px;
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(130, 141, 180)
}
.pagename3{
    position: absolute;
    left: 413px;
    top: 481px;
    width: 512px;
    height: 332px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.likebox3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    position: absolute;
    left: 413px;
    top: 812px;
    width: 512px;
    height: 32px;
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(130, 141, 180)
}
.pagename4{
    position: absolute;
    left: 413px;
    top: 854px;
    width: 512px;
    height: 131px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.likebox4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    position: absolute;
    left: 413px;
    top: 985px;
    width: 512px;
    height: 32px;
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(130, 141, 180)
}
.smsquare1{
    position: absolute;
    top: 12px;
    left: 12px;
    width: 40px;
    height: 40px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.smsquare2{
    position: absolute;
    top: 12px;
    left: 12px;
    width: 40px;
    height: 40px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.smsquare3{
    position: absolute;
    top: 12px;
    left: 12px;
    width: 40px;
    height: 40px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.smsquare4{
    position: absolute;
    top: 12px;
    left: 12px;
    width: 40px;
    height: 40px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.lrgrec1{
    position: absolute;
    top: 68px;
    left: 6px;
    width: 500px;
    height: 185px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.lrgrec3{
    position: absolute;
    top: 68px;
    left: 14px;
    width: 484px;
    height: 180px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}  
