body{
    margin: 10px 80px;
    height: 1600px;
    width: 1000px;
    background-color: rgb(233, 234, 235);
}
.navigation li{
    float: center;
    padding: 5px;
}
.content1{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(161, 161, 161);
    height: 44px;
    width: 850px;
}
.headerImage1{
    width: 850px;
    height: 313px;
    border: 1px solid rgb(65, 73, 103);
    background-color: rgb(87, 103, 163);
    
}
.profileImage1{
    width: 168px;
    height: 168px;
    margin: 10px 10px;
    border: 1px solid rgb(65, 73, 103);
    border-radius: 3px;
    background-color: rgb(87, 103, 163);
    position: absolute;
    left: 90px;
    top: 168px;
}
.YourName1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 23px;
    width: 250px;
    height: 40px;
    position: absolute;
    left: 252px;
    top: 252px;
    text-align: center;
    vertical-align: middle;
}
.Website1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 50;
    color: rgb(255, 255, 255);
    font-size: 16px;
    width: 85px;
    height: 30px;
    position: absolute;
    left: 270px;
    top: 290px;
    text-align: center;
    vertical-align: middle;
}
.Like1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    background-color: rgb(252, 252, 252);
    width: 62px;
    height: 25px;
    position: absolute;
    left: 643px;
    top: 287px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 3px;
}
.Follow1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    background-color: rgb(252, 252, 252);
    width: 74px;
    height: 25px;
    position: absolute;
    left: 715px;
    top: 287px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 3px, 0px, 0px, 3px;
}
.Message1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    background-color: rgb(252, 252, 252);
    width: 88px;
    height: 25px;
    position: absolute;
    left: 789px;
    top: 287px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(161, 161, 161);
}
.Dots1{
    font-size: 20px;
    background-color: rgb(252, 252, 252);
    width: 40px;
    height: 25px;
    position: absolute;
    left: 877px;
    top: 287px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 0px, 3px, 3px, 0px;
}
.Timeline1{
    position: absolute;
    height: 44px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    left: 283px;
    top: 340px;
}

.About1{
    position: absolute;
    height: 44px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    left: 375px;
    top: 340px;
}

.Welcome1{
    position: absolute;
    height: 44px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    left: 450px;
    top: 340px;
}

.FWB1{
    position: absolute;
    height: 44px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    left: 550px;
    top: 340px;
}

.More1{
    position: absolute;
    height: 44px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    left: 610px;
    top: 340px;
}
.Bar1{
    width: 65px;
    height: 2px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(161, 161, 161);
    position: absolute;
    left: 283px;
    top: 367px;
}

h1{

}

p{
    
}
.blankboxtop{
    position: absolute;
    top: 410px;
    left: 75px;
    width: 328px;
    height: 23px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.aboutyour{
    position: absolute;
    top: 433px;
    left: 75px;
    width: 328px;
    height: 105px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.yourwebsite{
    position: absolute;
    top: 538px;
    left: 75px;
    width: 328px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.about{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 580px;
    left: 75px;
    width: 328px;
    height: 32px;
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(92, 94, 113)
}
.youraddress{
    position: absolute;
    top: 612px;
    left: 75px;
    width: 328px;
    height: 105px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.apps{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 727px;
    left: 75px;
    width: 328px;
    height: 32px;
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(92, 94, 113)
}
.welcome{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 759px;
    left: 75px;
    width: 328px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(31, 34, 44)
}
.fwb{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 849px;
    left: 75px;
    width: 328px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(31, 34, 44)
}
.livestream{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 939px;
    left: 75px;
    width: 328px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(31, 34, 44)
}
.photos{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 1039px;
    left: 75px;
    width: 328px;
    height: 32px;
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(92, 94, 113)
}
.photosbox{
    position: absolute;
    top: 1071px;
    left: 75px;
    width: 328px;
    height: 328px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.english{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    position: absolute;
    left: 80px;
    top: 1408px;
    color: rgb(173, 176, 184)
}
.facebook{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    position: absolute;
    left: 80px;
    top: 1424px;
    color: rgb(173, 176, 184)
}
.rectangle1{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 111px;
    height: 74px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.rectangle2{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 111px;
    height: 74px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.rectangle3{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 111px;
    height: 74px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.phsquares1{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 102px;
    height: 102px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.phsquares2{
    position: absolute;
    top: 114px;
    left: 5px;
    width: 103px;
    height: 103px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.phsquares3{
    position: absolute;
    top: 222px;
    left: 5px;
    width: 103px;
    height: 103px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.phsquares4{
    position: absolute;
    top: 5px;
    left: 114px;
    width: 103px;
    height: 103px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.phsquares5{
    position: absolute;
    top: 5px;
    left: 222px;
    width: 103px;
    height: 103px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.phsquares6{
    position: absolute;
    top: 114px;
    left: 114px;
    width: 103px;
    height: 103px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.phsquares7{
    position: absolute;
    top: 114px;
    left: 222px;
    width: 103px;
    height: 103px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}










.pagename1{
    position: absolute;
    left: 413px;
    top: 410px;
    width: 512px;
    height: 256px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.likebox1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    position: absolute;
    left: 413px;
    top: 666px;
    width: 512px;
    height: 32px;
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(130, 141, 180)
}
.pagename2{
    position: absolute;
    left: 413px;
    top: 708px;
    width: 512px;
    height: 131px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.likebox2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    position: absolute;
    left: 413px;
    top: 839px;
    width: 512px;
    height: 32px;
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(130, 141, 180)
}
.pagename3{
    position: absolute;
    left: 413px;
    top: 881px;
    width: 512px;
    height: 332px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.likebox3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    position: absolute;
    left: 413px;
    top: 1212px;
    width: 512px;
    height: 32px;
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(130, 141, 180)
}
.pagename4{
    position: absolute;
    left: 413px;
    top: 1254px;
    width: 512px;
    height: 131px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.likebox4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    position: absolute;
    left: 413px;
    top: 1385px;
    width: 512px;
    height: 32px;
    background-color: rgb(246, 247, 248);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
    color: rgb(130, 141, 180)
}
.smsquare1{
    position: absolute;
    top: 12px;
    left: 12px;
    width: 40px;
    height: 40px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.smsquare2{
    position: absolute;
    top: 12px;
    left: 12px;
    width: 40px;
    height: 40px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.smsquare3{
    position: absolute;
    top: 12px;
    left: 12px;
    width: 40px;
    height: 40px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.smsquare4{
    position: absolute;
    top: 12px;
    left: 12px;
    width: 40px;
    height: 40px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.lrgrec1{
    position: absolute;
    top: 68px;
    left: 6px;
    width: 500px;
    height: 185px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}
.lrgrec3{
    position: absolute;
    top: 68px;
    left: 14px;
    width: 484px;
    height: 180px;
    background-color: rgb(87, 103, 163);
    border: 1px solid rgb(212, 214, 218);
    border-radius: 3px;
}  
